<% if @user %>
	<h2>MAI tweets index</h2>

	<% @tweets.each do |tweet| %>
		<ul>
			<li><%= tweet.body %></li>
			<%= link_to 'Delete', tweet_path(tweet),
                    method: :delete, data: { confirm: 'Are you sure?' } %>
		</ul>
	<% end %>

	<%= simple_form_for @tweet do |f| %>
		<%= f.input :body %><br />
		<%= f.submit "Tweet", class: 'btn btn-primary' %>
	<% end %>
	<br />

<h3> Tweets of Peeps I Follow</h3>
<% @followed_tweets.each do |f| %>
	<ul>
	<li><%= f.body%></li>
	</ul>
<% end %>

<br>
	<%= link_to "All Users", users_all_path %>
<% else %>
	<h2>Welcome to Fake Twitter, Yo.</h2>
<% end %>